@using WebApplication1.Models
@model Order
@{
    ViewBag.Title = "Results";
}

<h2>Search Results</h2>
<a href="@Url.Action("Index", "Default")"><button class="btn btn-default">Search Again</button></a>
<br />
<hr />

@if (Model != null)
{
    var siteURL = "";

    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <tr>
                <th>Serial Number: </th>
                <td>@Model.SerialNumber_ID</td>
            </tr>
            @if (Model.Grade != "A")
            {
                <tr>
                    <th>Item Grade: </th>
                    <td>@Model.Grade</td>
                </tr>
            }
            <tr>
                <th>Owned By: </th>
                @if (Model.DisplayID != null)
                {
                    <td>@Model.DisplayID</td>
                }
                else
                {
                <td>@Model.CustomerID</td>
                }
                
            </tr>
            <th>Order Date: </th>
            <td>@Model.OrderDate</td>
            <tr>
                <th>Order Number: </th>
                <td>@Model.OrderNumber</td>
            </tr>
            <tr>
                <th>Order Site: </th>

                @switch (Model.SiteName)
                {
                    case "Official Website (Korean)":
                        siteURL = "http://pygmaliondoll.com";
                        break;
                    case "FrostBitten UK Dealer":
                        siteURL = "https://www.frostbittenbjd.co.uk/";
                        break;
                    case "Big.BJD Chinese Dealer":
                        siteURL = "https://bigbjd.world.taobao.com/category-1311509383.htm?spm=a1z10.1-c.0.0.syJjko&search=y&catName=PYGMALION";
                        break;
                    case "Official Website (International)":
                        siteURL = "http://pygmaliondolls.com";
                        break;
                }

                       <td><a href="@siteURL">@Model.SiteName</a></td>
            </tr>
            <tr>
                <th>Ordered Item: </th>
                <td>@Model.Description</td>
            </tr>
            @if (Model.OtherInfo != null)
            {
                <tr>
                    <th>Other Information:</th>
                    <td>@Model.OtherInfo</td>
                </tr>
            }
        </table>
    </div>
    <br />
    <br />

}
else
{
    <p>한글로 번역하기</p> 
    <label class="switch">
        <input type="checkbox">
        <div class="slider round"></div>
    </label>
    <br />
    <br />
    <div class="content-box-blue" id="result">
    </div>
    <br />
    <br />
}

<div class="footer">
    For questions regarding this website, please <a href="mailto:dollpygmalion@gmail.com">email</a> the webmaster
</div>
<script>
    window.onload = function () {
        var input = document.querySelector('input[type=checkbox]');

        function check() {
            var a = input.checked ?
                "<p>등록되지 않은 인증번호이거나 인증번호를 잘못 입력하셨습니다.</p><p>인증번호 확인에 문제가 있을 시 <a href='mailto:dollpygmalion@gmail.com'>dollpygmalion@gmail.com</a> 혹은 <a href='http://pygmaliondoll.cafe24.com/front/php/b/board_list.php?board_no=6&is_pcver=T'>Q&A 게시판</a>에 문의 주시기 바랍니다.</p>"
                :
                "<p>Cannot find Serial Number in our system.</p><p>Please check again to see if you typed it correctly.</p><p>If you keep seeing this message even with a correct code, please contact us via <a href='mailto:dollpygmalion@gmail.com'>Email</a> or create a post at our <a href='http://pygmaliondolls.com/board/qa/6/?is_pcver=T'>Q&A board</a>.</p>";
            document.getElementById('result').innerHTML = a;
        }
        input.onchange = check;
        check();
    }
</script>